:root{
    --regularFont: century-gothic, sans-serif;

    --fontColorLight: white;
    --fontColorDark: #111;
    --fontErrorColor: red;

    --inputBackgroundGrey: #707070;
    --inputBackgroundGreyAutofill: #909090;
    --selectorItemSelected: #2440EE;
    --selectorItemNotSelected: var(--inputBackgroundGrey);

    --lightBackground1: #d9d9d9;
    --pageBackground: #222;
    --formBackground: #444;
}