@import url('./fonts.css');

:root{
    --regularFont: "Julius Sans One";
    --secondaryFont: "Jura";

    --fontColorLight: white;
    --fontColorDark: #121212;
    --fontErrorColor: red;
    --fontLinkLightBlue: lightblue;

    --inputBackgroundGrey: #fff;
    --inputBackgroundDark: #3a3a3a;
    --inputBackgroundGreyAutofill: #909090;
    --selectorItemSelected: #2440EE;
    --selectorItemNotSelected: var(--inputBackgroundGrey);

    --lightBackground1: #d9d9d9;
    --lightBackground2: #bdbdbd;
    --pageBackground: #121212;
    --formBackground: #121212;
    --imageBackground: url("background.png");

    --secondaryColor: rgb(183, 132, 251);
    --secondaryColorHover: rgb(166, 102, 249);
}