:root{
    --regularFont: century-gothic, sans-serif;

    --fontColorLight: white;
    --fontColorDark: #111;
    --fontErrorColor: red;

    --lightBackground1: #d9d9d9;
    --pageBackground: black;
    --formBackground: darkgreen;
}