#backdrop {
    position: absolute; /* Make it relative to the contributions graph container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black for backdrop */
    z-index: 9998; /* Just below the dialog */
}

#github-app-authorization-dialog {
    position: absolute; /* Positioned relative to the chart-container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for natural alignment offsets */
    width: 380px;
    background-color: #1a1a1a; /* Darker background for contrast */
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it appears on top */
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s ease-in-out;
}


#github-app-authorization-dialog h3 {
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    color: #e0e0e0;
}

#github-app-authorization-dialog button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#github-app-authorization-dialog button:hover {
    background-color: #0056b3;
    transform: scale(1.04);
}
