@import url('./colors.css');
@import url('./default.css');

.login_form{
    background-color: var(--formBackground);
    color: var(--fontColorLight);
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_form form {
    display: flex;
    justify-content: center;
    padding: 10%;
}

.login_row {
    display: inline-block;
    margin-bottom: 1%;
    width: 90%;
}

.login_row_item {
    display: inline-block;
    margin: 1% 0 0 0;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%;
}

.login_form form input {
    border-radius: 7px;
    border-style: none !important;
    background-color: var(--inputBackgroundGrey);
    color: white;
    width: 95%;
    height: 32px;
    padding-left: 5%;
    font-size: large;
}

.login_form form input[type=password]:not(:placeholder-shown){
    font-family: caption;
    letter-spacing: 0.1em;
    font-size: x-large;
    font-weight: 800;
}

.login_form form input::placeholder {
    color: lightgrey;
}

.login_form form input:active,
.login_form form input:focus {
    outline: none;
}

.login_form form input:is(:-webkit-autofill :autofill){
    font-size: large;
    background-color: var(--inputBackgroundGreyAutofill);
}

.input_label{
    font-size: small;
}

#login_error_span {
    font-size: large;
    color: var(--fontErrorColor);
    display: none;
}

.login_form form button {
    width: 41%;
    border-color: transparent;
    border-radius: 7px;
    background-color: var(--lightBackground1);
    color: var(--fontColorDark);
    height: 34px;
    font-size: larger;
    margin-top: 2%;
}

#auth_redirect_button{
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    padding: 1% 2.5%;
    border-radius: 20px;
    border-color: transparent;
    background-color: var(--lightBackground1);
    font-size: large;
    color: var(--fontColorDark)
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--fontColorLight);
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--inputBackgroundGreyAutofill);
    font-size: large !important;
    font-family: var(--regularFont) !important;
}

#student_type_selector {
    border-radius: 7px 0 0 7px;
    background-color: var(--selectorItemSelected) ;
}

#instructor_type_selector {
    border-radius: 0 7px 7px 0;
    background-color: var(--selectorItemNotSelected);
}

#account_type_selector {
    width: 100%;
}

#account_type_selector > button {
    color: var(--fontColorLight);
    width: 50%;
    margin-top: 0;
}

#instructor_key_dialog {
    display: none;
    width: 30%;
    background-color: var(--formBackground);
    color: var(--fontColorLight);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    align-items: center;
    justify-content: center;
    border-color: var(--fontColorLight);
    border-width: 1px;
    border-style:solid;
    border-radius: 15px;
}

#instructor_key_dialog > h2 {
    width: 100%;
    margin: 0 0 5% 0;
    text-align: center;
}

#instructor_key_dialog > input {
    width: 60%;
    margin: 0 20%;
    text-align: center;
    padding: 0;
    border-radius: 7px;
    border-style: none !important;
    background-color: var(--inputBackgroundGrey);
    color: var(--fontColorLight);
    height: 32px;
    font-size: large;
}

#instructor_key_dialog > input:focus {
    outline: none;
}

#instructor_key_dialog > label {
    width: 60%;
    margin: 0 20%;
    text-align: center;
}

#instructor_key_dialog > button {
    width: 60%;
    margin: 5% 20% 0 20%;
    text-align: center;
    border-color: transparent;
    border-radius: 7px;
    background-color: var(--lightBackground1);
    color: var(--fontColorDark);
    height: 34px;
    font-size: larger;
}

#dialog_backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}