.logo {
    display: absolute;
    /* align-items: left; */
    /* justify-content: left; */
    gap: 10px;
    margin-bottom: 0px; /* Adds space below the logo */
    transition: transform 0.8s ease;
    background-color: rgba(16, 16, 16, 0.052);
}

.logo:hover {
    transform: scaleY(1.1); /* Slightly increase the size of the logo when hovered */
}

.logo img {
    width: 48px; /* Set fixed size for the logo image */
    height: 48px;
}