@import url('./colors.css');
@import url('./default.css');

#team-velocity-dialog {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background-color: var(--formBackground);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
}

#team-velocity-dialog > h1 {
    margin: 2% 0;
}

#submit-team-velocity-button {
    padding: 1% 2%;
    margin: 0;
}

#team-velocity-dialog > label {
    color: var(--fontColorLight);
}